Redirect /+ https://plus.google.com/117665874262309202218
Redirect /fb http://www.facebook.com/tobias.otte
Redirect /xng https://www.xing.com/profile/Tobias_Otte2
Redirect /li http://www.linkedin.com/in/tobiasotte
Redirect /@ https://twitter.com/stereobit
Redirect /gh https://github.com/Stereobit
Redirect /tblr http://stereobit.tumblr.com/