body, html, ul, li, h1, h2, h3, p {
  border: 0;
  margin: 0;
  padding: 0;
}

noscript, section, nav, article, aside, hgroup, header, footer, h1, h2, h3, h4, h5, h6, p, hr, li {
  display: block;
}

html {
  font-size: 16px;
  line-height: 1.5rem;
  font: 62.5% Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  overscroll-behavior: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #FEFEFE;
  color: #43565F;
}

.container { padding: 5rem; max-width: 700px; margin: 0 auto; }

h1 {
  font-size: 3.5rem;
  color: #94201f;
  font-family: Rubik;
  margin-bottom: 1rem;
}

h3 {font-size: 1.7em; color: #D4421F; display: inline-block; margin-right: 8px; }
p { font-size: 1rem; line-height: 1.4em; margin-bottom: 1em;}
a { color: #478A80; text-decoration: none; }
a:hover { text-decoration: underline; }

.profiles { font-size: 1.7em; display: inline-block; }
.profiles li { display: inline-block; margin: 0 8px 2.3em 0; }

footer { font-size: 1.3em; text-align: center; }
footer li { display: inline-block; }
footer li::after { content: "\0000B7"; display: inline-block; margin: 0 6px 0 11px; }
footer li:last-child::after { display: none; }
