body, html, ul, li, h1, h2, h3, p {
  border: 0;
  margin: 0;
  padding: 0;
}

noscript, section, nav, article, aside, hgroup, header, footer, h1, h2, h3, h4, h5, h6, p, hr, li {
  display: block;
}

body { font: 62.5% "Helvetica Neue", Helvetica, Arial, sans-serif; background: #FEFEFE; color: #333; }

.container { padding: 5em; max-width: 600px; margin: 0 auto; }
header { text-align: center; }

h1 { font-size: 7em; color: #94201f; text-shadow: 1px 1px 1px rgba(240, 136, 53, 0.5); }
h2 { font-size: 3.2em; color: #D4421F; margin: -0.2em 0 0.2em; text-shadow: 1px 1px 1px rgba(240, 136, 53, 0.5); }
h3 {font-size: 1.7em; color: #D4421F; display: inline-block; margin-right: 8px; }
p { font-size: 2.3em; line-height: 1.4em; margin-bottom: 1em;}
a { color: #478A80; text-decoration: none; }
a:hover { text-decoration: underline; }
dfn { font-style: italic; }

.blog { font-size: 1.8em; line-height: 1.4em; margin: 0 0 1em; list-style: square; }
.blog li { margin-bottom: 0.3em; }

.profiles { font-size: 1.7em; display: inline-block; }
.profiles li { display: inline-block; margin: 0 8px 2.3em 0; }

footer { font-size: 1.3em; text-align: center; }
footer li { display: inline-block; }
footer li::after { content: "\0000B7"; display: inline-block; margin: 0 6px 0 11px; }
footer li:last-child::after { display: none; }
