RewriteEngine On
RewriteBase /

AddDefaultCharset UTF-8

ErrorDocument 404 /404.html

Redirect /+ https://plus.google.com/117665874262309202218
Redirect /xng https://www.xing.com/profile/Tobias_Otte2
Redirect /li http://www.linkedin.com/in/tobiasotte
Redirect /@ https://twitter.com/stereobit
Redirect /gh https://github.com/Stereobit

RewriteCond %{HTTP:Accept-Encoding} .*gzip.*
RewriteRule ^js/(.*)\.js$ /scripts/$1.js.gz [L]
RewriteRule ^css/(.*)\.css$ /css/$1.css.gz [L]
AddEncoding x-gzip text.gz

<FilesMatch "\.(js|css|gz)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>

Header add Content-Security-Policy "default-src https:"
Header add Strict-Transport-Security "max-age=63072000"
Header add X-Frame-Options "DENY"
Header add X-Content-Type-Options "nosniff"
Header add X-XSS-Protection "1; mode=block"
